.product {
  margin: 10px 0;
}

.productCard {
  height: 100%;
  width: 18rem;
}

.clickable {
  cursor: pointer;
  transition: border 0.2s ease-out;
  border: 2px outset;
}

.clickable:hover {
  border: 4px inset #42a5f5;
  transition: border 0.2s ease-out;
}

.productCard img {
  padding: 0 50px;
  height: 50%;
}

.productTitle {
  font-size: 1rem;
  margin-bottom: 0;
}

.productBody {
  flex: none !important;
  padding: 5px 20px !important;
}

.priceList {
  border-top: 2px outset !important;
}
